.Hustle {
  background-image: url("../Assets/background.avif");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10%
}

.Box {
  background-color:rgba(255, 255, 255, 0.9);
  padding: 2em;
  border-radius: 1em;
}

.Box h1 {
  font-size: max(4vw, 32px);
  font-family: serif;
  color: black;
  margin-bottom: 2.5rem;
  text-align: center;
}

.overrideWidth {
  width: auto !important;
}
